@model IEnumerable<ShopWeb.Data.DTO.CategoriesDTO.CategoriesAddDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create"> Crea una categoria</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Categoria ID
            </th>
            <th>
                 Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Usuario
            </th>
            <th>
                Fecha de creacion
            </th>
            <th>
                 Accion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.categoryid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.categoryid }) 
            </td>
        </tr>
}
    </tbody>
</table>
